<div class="col">

  <div id="<%= dom_id favorite_organization %>" class="card h-100">
    <div class="card-body">
      <h5 class="card-title"><%= link_to favorite_organization.title, favorite_organization_path(favorite_organization) %></h5>
      <p class="card-text">
        <%= render partial: "organizations/status", locals: { status: favorite_organization.administrative_status.status } %>
        <%= render partial: "organizations/social_reason_code", locals: { code: favorite_organization.primary_social_reason.code, description: nil } %>
        <% if favorite_organization.secondary_social_reason %>
        <%= render partial: "organizations/social_reason_code", locals: { code: favorite_organization.secondary_social_reason.code, description: nil } %>
        <% end %>
        <small>
        <%= favorite_organization.municipality_description %>
        </small>
      </p>
      <p class="card-text">
      <% if favorite_organization.favorite_for_favoritor(current_user).notes.empty? %>
        <%= favorite_organization.reason.truncate_words(20, omission: "...") %>
      <% else %>
        <%= favorite_organization.favorite_for_favoritor(current_user).notes.to_plain_text.truncate_words(20, omission: "...") %>
      <% end %>
      </p>
    </div>

    <div class="card-footer">
      <%= render partial: "favorites/unfavorite_form", locals: { favoritor: current_user, favoritable: favorite_organization } %>
    </div>
  </div>
</div>
