<%= turbo_frame_tag "favorite_organizations" do %><div class="row row-cols-1 row-cols-lg-2 g-2">
    <% @favorite_organizations.try(:each) do |favorite_organization| %>
        <%= render partial: "favorite_organizations/favorite_organization", locals: { favorite_organization: favorite_organization } %>
    <% end%>

    <%= render partial: "organizations/pagination",
    locals: { pagination: @favorite_organizations_pagination } %>
</div>
<% end%>