<div class="row align-items-center">
  <div class="col-sm-6">
    <h1>Favorite Organizations</h1>
  </div>
</div>

<hr />

<%= render partial: "favorite_organizations/favorite_organizations",
locals: {
  favorite_organizations: @favorite_organizations,
  pagination: @favorite_organizations_pagination
} %>
<%= console  %>