<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item">
      <%= link_to favorite_organizations_path do %>
        My Favorite Organizations
      <% end %>
    </li>
    <li class="breadcrumb-item active" aria-current="page">
        <%= @favorite_organization.short_title.truncate(30, omission: "...") %>
    </li>
  </ol>
</nav>

<div class="card">
  <div class="card-body">
    <h5 class="card-title"><%= @favorite_organization.title %></h5>
    <h6 class="card-subtitle mb-2 text-muted"><%= @favorite_organization.reason %>e</h6>
  </div>
</div>

<br />

<div class="card p-3">
    <%= turbo_frame_tag dom_id(@favorite) do %>
        <%= link_to edit_favorite_path(@favorite), class: "btn btn-primarybtn btn-primary" do %>
            Edit notes
        <% end %>
        <hr />
        <div class="card-content">
            <% if @favorite.notes.present? %>
            <%= @favorite.notes %>
            <% else %>
            <p>No notes yet.</p>
            <% end %>
        </div>
    <% end %>
</div>
