<%= turbo_frame_tag "favoritable_organization_#{favoritable.id}" do %>
    <%= form_with model: Favorite.new do |form| %>
        <%= form.hidden_field :favoritor_id, value: favoritor.id %>
 
        <%= form.hidden_field :favoritable_id, value: favoritable.id %>
        <%= form.hidden_field :favoritable_type, value: favoritable.class %>

        <%= form.button class: "btn -btn-secondary" do %>
            <%= icon "fa-regular", "star", { class:"text-warning" } %>
            Add to favorites
        <% end %>
    <% end %>
<% end %>