<% if favoritor.favorited? favoritable %>
    <% favorite = favoritor.get_favorite favoritable %>
    <% url = favorite_path(favorite.id) %>
    <% method = :delete %>
    <% submit_icon = icon('fa-solid', 'star', { class:"text-warning"})%>
    <% submit_text = "Remove from favorites" %>
<% else %>
    <% favorite = Favorite.new %>
    <% url = nil %>
    <% method = :post %>
    <% submit_icon = icon('fa-regular', 'star', { class:"text-warning"})%>
    <% submit_text = "Add to favorites" %>
<% end %>

<%= form_with model: favorite, url:, method: do |form| %>
    <%= form.hidden_field :id, value: favorite.id %>

    <%= form.hidden_field :favoritor_id, value: favoritor.id %>

    <%= form.hidden_field :favoritable_id, value: favoritable.id %>
    <%= form.hidden_field :favoritable_type, value: favoritable.class %>

    <%= button_tag type: "submit", class: "btn -btn-secondary" do %>
        <%= submit_icon %>
        <%= submit_text %>
    <% end %>
<% end %>
