<% favorite = favoritor.get_favorite favoritable %>

<%= turbo_frame_tag "favoritable_organization_#{favoritable.id}" do %>
    <%= form_with model: favorite, url: favoritor.get_favorite(favoritable), method: :delete do |form| %>

        <%= form.hidden_field :id, value: favorite.id %>
        <%= form.hidden_field :favoritor_id, value: favoritor.id %>

        <%= form.hidden_field :favoritable_id, value: favoritable.id %>
        <%= form.hidden_field :favoritable_type, value: favoritable.class %>

        <%= form.button class: "btn -btn-primary" do %>
            <%= icon "fa-solid", "star", { class:"text-warning" } %>
            Remove from favorites
        <% end %>
    <% end %>
<% end %>