<%= turbo_frame_tag dom_id(@favorite) do %>
    <%= form_with model: @favorite do |form| %>
        <div class="mb-3">
        <%= form.label :notes %>
        <%= form.rich_text_area :notes, { style: "height: 20rem;" } %>
        </div>

        <div class="mb-3">
        <%= form.submit "Update notes", class: "btn btn-primarybtn btn-primary" %>
        </div>
    <% end %>
<% end %>