<%= form_with(model: data_file, multipart: true, id: dom_id(data_file)) do |form| %>
  <% if data_file.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(data_file.errors.count, "error") %> prohibited this DataFile from being saved:</h2>

      <ul>
      <% data_file.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="mb-3">
    <% if SocialReason.any? %>
      <% resource_options = DataFile.data_categories.map { |key, value| [key.pluralize.humanize, value] }%>
      <%= form.label :data_category, class: 'form-label' %>
      <%= form.select :data_category, options_for_select(resource_options), {}, { class: "form-select" } %>
    <% else %>
    <div class="card text-center border-primary">
      <div class="card-body text-primary">
        <h2 class="card-title">Upload a Social Reasons Data File</h2>
        <p class="card-text">As Organizations Data Files depend on Social Reasons you need upload a Social Reasons Data File first.</p>
      </div>
    </div>
      
      <%= form.hidden_field :data_category, value: DataFile.data_categories[:social_reason] %>
    <% end %>
  </div>

  <div class="mb-3">
    <%= form.label :resources_data, class: 'form-label' %>
    <%= form.file_field :resources_data, class: 'form-control' %>
  </div>

  <div class="mb-3">
    <%= form.submit "Upload", class: 'btn btn-primary' %>
    <%= link_to "Cancel", data_files_path, class: "btn btn-link" %>
  </div>
<% end %>
