<div class="row text-center">

    <h1>Data Files</h1>

</div>
<hr />
  <div class="container d-flex justify-content-center my-2">
    <%= turbo_frame_tag dom_id(@data_file) do %>
      <%= link_to new_data_file_path, class: 'btn btn-primary' do %>
        Upload Data File
      <% end %>
    <% end %>
  </div>
<hr />

<div class="table-responsive">
  <table class="table table-striped table-bordered table-hover">
    <thead>
      <tr>
        <th>Original filename</th>  
      </tr>
    </thead>

    <tbody>
      <%= render @data_files %>
    </tbody>
  </table>
</div>
