    <hr />

    <dl class="dl-horizontal">
    <% attributes.each do |attribute| %>
      <% if organization.send attribute%>
      <dt><%= attribute.to_s.humanize %>:</dt>
      <dd><%= organization.send attribute %></dd>
      <% end%>
    <% end%>
    </dl>