<div class="col">

  <div id="<%= dom_id organization %>" class="card h-100">
    <div class="card-body">
      <h5 class="card-title"><%= link_to organization.title, organization %></h5>
      <p class="card-text">
        <%= render partial: "organizations/status", locals: { status: organization.administrative_status.status } %>
        <%= render partial: "organizations/social_reason_code", locals: { code: organization.primary_social_reason.code, description: nil } %>
        <% if organization.secondary_social_reason %>
        <%= render partial: "organizations/social_reason_code", locals: { code: organization.secondary_social_reason.code, description: nil } %>
        <% end %>
        <small>
        <%= organization.municipality_description %>
        </small>
      </p>
      <p class="card-text">
        <%= organization.reason.truncate_words(20, omission: "...") %>
      </p>
    </div>

    <% if user_signed_in? %>
    <div class="card-footer">
      <% if current_user.favorited? organization %>
      <%= render partial: "favorites/unfavorite_form", locals: { favoritor: current_user, favoritable: organization } %>
      <% else %>
      <%= render partial: "favorites/favorite_form", locals: { favoritor: current_user, favoritable: organization } %>
      <% end %>
    </div>
    <% end %>
  </div>
</div>
