<%= form_with(url: organizations_url, method: :get) do |form| %>
    <%= form.label :search %>
  <div class="input-group mb-3">
    <%= form.search_field :search,
    value: params[:search],
    onsubmit: "this.value=''",
    class: "form-control" %>
    <%= form.submit "Search", class: "btn btn-primary" %>
  </div>

  <div class="mb-3">
    <div class="form-check form-switch">
      <%= form.label :search_by_title_only, class: "form-check-label" %>
      <%= form.check_box :search_by_title_only, { class: "form-check-input" }, true, false %>
    </div>
  </div>

  <div class="mb-3">
    <%= form.label "filter by social reason(s)" %>
    <%= form.collection_select :social_reason_ids,
    @social_reasons,
    :id,
    :code_with_description_label,
    {},
    { multiple: true, class: "form-select" } %>
  </div>


  <%= form.label "filter by status(es)" %>
  <% active_check = if params[:active].present? || (params[:dissolved].nil? && params[:canceled].nil?)
  true
  else
  false
  end %>
  <div class="form-check form-switch">
    <%= form.label :active, class: "form-check-label" %>
    <%= form.check_box :active, { checked: active_check,  class: "form-check-input" }, true, false %>
  </div>

  <% dissolved_check = params[:dissolved].present? ? true : false %>
  <div class="form-check form-switch">
    <%= form.label :dissolved, class: "form-check-label" %>
    <%= form.check_box :dissolved, { checked: dissolved_check, class: "form-check-input" }, true, false %>
  </div>

  <% canceled_check = params[:canceled].present? ? true : false %>
  <div class="form-check form-switch">
    <%= form.label :canceled, class: "form-check-label" %>
    <%= form.check_box :canceled, { checked: canceled_check, class: "form-check-input" }, true, false %>
  </div>
<% end %>

