<div class="row align-items-center">
  <div class="col-sm-6">
    <h1>Organizations</h1>
  </div>
</div>

<hr />

<div class="container d-flex justify-content-center my-2">
  <%= render partial: "search_form" %>
</div>

<hr />

<div class="row">
<% unless @filters.empty? %>
<div class="h5">Current filters</div>
<div id="current_filters" class="col mb-4">
  <% @filters[:social_reasons_codes].try(:each) do |social_reason_code| %>
  <%= render partial: "social_reason_code", locals: { code: social_reason_code, description: nil } %>
  <% end %>
  
  <% if @filters[:statuses].present? && @filters[:social_reasons_codes].present? %>
  <br />
  <% end %>

  <% @filters[:statuses].try(:each) do |status| %>
  <%= render partial: "status", locals: { status: status } %>
  <% end %>
</div>
<% end %>

<hr />

<% if params[:search].present? %>
<h2 class="h4">Results for '<strong><%= params[:search] %></strong>'</h2>
<% else %>
<% title_start = @filters[:statuses].count < 3  ? @filters[:statuses].to_sentence.humanize : "All" %>
<h2 class="h4"><%= title_start %> organizations</h2>
<% end %>
</div>

<div class="row row-cols-1 row-cols-lg-2 g-2">
  <%= render @organizations %>
</div>

<%= render partial: "pagination", locals: { pagination: @organizations_pagination } %>
