<div class="page-header">
  <%= link_to organizations_path, class: 'btn btn-default' do %>
    All Organizations
  <% end %>
</div>

<div class="px-4 py-2 my-2 text-center">
  <h1 class="display-5 fw-bold"><%= @organization.title %></h1>
  <div class="col-lg-6 mx-auto">
    <p class="lead mb-4"><%= @organization.reason %></p>
    <% if @organization.web_site%>
    <%= link_to "Visit website", @organization.web_site %>
    <% end %>
    <hr /> 

    <p>
    <%= @organization.national_uid %>
    <%= render partial: "status", locals: { status: @organization.administrative_status.status } %>
    </p>

    <%= render partial: "social_reason_code", locals: { code: @organization.primary_social_reason.code, description: @organization.primary_social_reason.description } %>
    <%= render partial: "social_reason_code", locals: { code: @organization.primary_social_reason.code, description: @organization.primary_social_reason.description } %>
    <% if @organization.secondary_social_reason %>
    <%= render partial: "social_reason_code", locals: { code: @organization.secondary_social_reason.code, description: @organization.secondary_social_reason.description } %>
    <% end %>
   
    <hr />

    <dl class="dl-horizontal">
      <dt>Creation date:</dt>
      <dd><%= @organization.creation_date.to_formatted_s %></dd>
      <dt>Publication date:</dt>
      <dd><%= @organization.publication_date %></dd>
      <% if @organization.dissolved? %>
      <dt>Dissolution date:</dt>
      <dd><%= @organization.dissolution_date %></dd>
      <% end %>
    </dl>


    <%= render partial: "attribute_list",
    locals: {
      organization: @organization,
      attributes: %i(
      former_uid
      siret
      site_administrator_code
      kind_code
      grouping)
    } %>

    <hr />
    <%= "#{@organization.street_number} \
    #{@organization.additional_street_number} \
    #{@organization.street_type} \
    #{@organization.street_name} \
    #{@organization.additional_street_name} \
    #{@organization.additional_address}" %>
    <br />
    <%= "#{@organization.zipcode} - \
    #{@organization.municipality_description}" %>

    <hr />
    <%= "#{@organization.manager_address} \
    #{@organization.manager_additional_address} \
    #{@organization.manager_street_name} \
    #{@organization.manager_additional_street_name} \
    #{@organization.additional_address}" %>
    <br />
    <%= "#{@organization.manager_zipcode} - \
    #{@organization.manager_billing_address} \
    #{@organization.manager_state}" %>


    <dl class="dl-horizontal">
      <hr />
      
      <dt>Declarant family name:</dt>
      <dd><%= @organization.declarant_family_name %></dd>
      <dt>Manager gender:</dt>
      <dd><%= @organization.manager_gender %></dd>
      <dt>Insee address code:</dt>
      <dd><%= @organization.insee_address_code %></dd>
    
      <hr />

      <dt>Data update time:</dt>
      <dd><%= @organization.data_update_time.to_formatted_s :long %></dd>
      <dt>Organization data file:</dt>
      <dd><%= @organization.data_file.original_filename %></dd>
    </dl>
  </div>
</div>


